 /* start Default Tags */
body{
	background-color: #f7f7f7 !important;
	font-family: 'Roboto', sans-serif !important;
}
h1{
	font-weight: 500 !important;
}
h2,h3,h5{
	font-weight: 200 !important;
}
.right h2{
	margin-top: 0;
}
/* end Default Tags */
/*-----------------------------------------------------------------------------------*/
/* start Bootstrap Tags and Classes*/
.navbar{
	border-radius: 0 !important;
	border:0 !important;
	box-shadow: 1px 0px 5px rgba(0,0,0,0.09);
}
.navbar-brand img{
	height: 18px;
	width: auto;
}
.btn-primary{
	background: #eb8545 !important;
	border-color: #a35d31 !important;
}
.panel-collapse .panel-body{
	padding: 25px;
}
.modal-body{
	padding: 30px !important;
}

/* end Bootstrap Tags and Classes*/
/* Start New classes */
.forms-edit h3{
	font-size:20px;
	margin-bottom: 30px;
	font-weight: 400;
	color:#555555;
}
.panel-edited{
	background: #FFFFFF;
	border:1px solid #f7f7f7;
	border-top:3px solid #eb8545;
	margin-top: 20px;
	margin-bottom: 20px;
	padding:30px;
	box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.09);
	border-radius:2px;
}
.panel-edited h2 i{
	color: #eb8545;
}

/* end responsive resize */
/*-----------------------------------------------------------------------------------*/
/* start LOADER*/
.loader {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	background:rgba(255, 255, 255, 0.95);
	width: 100%;
	height: 100%;
	z-index: 2000;
	text-align: center;
}
.loader-icon{
	border: 2px solid #f3f3f3;
	border-top: 2px solid #eb8545;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
	top: calc(50% - 21px);
	margin: auto;
	position: relative;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.valor-calculadora h2{
	font-size: 40px;
}
.valor-calculadora p{
	font-size: 20px;
}
	/* end LOADER  */
